.chat-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: auto;
}

.messages {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.message {
  padding: 5px;
  margin: 5px 0;
  background-color: #f1f1f1;
  border-radius: 5px;
  max-width: 60%;
}

.message.left {
  align-self: flex-start;
  background-color: #d1e7ff;
}

.message.right {
  align-self: flex-end;
  background-color: #ffcccb;
}
